<section class="wrap iris">
	<h1>Iris is installed</h1>
	<h3>Images are converted to webp on upload.</h3>
	{# <div class="iris__stats stats">
			<div class="stats__header">
				<button class="stats__button button" data-ref="{{ namespace }}" data-behaviour="run-iris" {% if iris_in_progress %} disabled {% endif %}>
					Run Iris
				</button>
			</div>
			<dl class="iris__cards">
						<div class="iris__stat">
							<dt>
								<strong>Total Images</strong>
							</dt>
							<dd class="iris__stat-value">{{ iris.total_images }}</dd>
						</div>
						<div class="iris__stat">
							<dt>
								<strong>Updated</strong>
							</dt>
							<dd class="iris__stat-value">{{ iris.updated }}</dd>
						</div>
						<div class="iris__stat">
							<dt>
								<strong>Already converted</strong>
							</dt>
							<dd class="iris__stat-value">{{ iris.skipped }}</dd>
						</div>
						<div class="iris__stat">
							<dt>
								<strong>Failed</strong>
							</dt>
							<dd class="iris__stat-value">{{ iris.failed }}</dd>
						</div>
					</dl>
				</div>  #}
</section>
